<!DOCTYPE html>
<html>
    <head>
        <title>Cuestionario</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h2>{{ pregunta }}</h2>

        {{#if tieneFoto}}
            <br>
            <img src="{{foto}}" width="300">
        {{/if}}
        <br>
        <h3>{{preguntaActual}} / {{cantidadPreguntas}}</h3>
        <form id="form-responder" action="/responder" method="POST" data-indice-respuesta={{ respuestaCorrecta }}>
            {{#each opciones}}
                <input type="radio" id="opcion{{ @index }}" name="indice" value="{{ @index }}" {{#if (eq @index indiceRespuestaCorrecta)}}checked{{/if}}>
                <label for="opcion{{ @index }}">{{ this }}</label><br>
            {{/each}}

            {{#if completo}}
                <input id="btn-responder" type="submit" value="Responder y terminar">
            {{else}}
                <input id="btn-responder" type="submit" value="Responder" disabled>
            {{/if}}

        </form>

        <script src="../jss/main.js"></script>
    </body>

</html>